@import './assets/styles/config/_fonts.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;

}

body{
    overflow-x: hidden;
}

@import './assets//styles/main.scss';

@import './assets/styles/login.scss';
@import './assets/styles/signup.scss';

// main compotent 
@import './assets/styles/dashboard.scss';
@import './assets//styles/sidebar.scss';
@import './assets/styles/home.scss';


@import './assets/styles/addnotemodal.scss';

// views 
@import './assets/styles/notes.scss';
@import './assets/styles/tasks.scss';

@import './assets/styles/config/container.scss';